<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JSDoc: <?js= title ?></title>
    
    <script src="scripts/jquery-1.9.1.min.js"></script>
    
    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!-- Bootstrap -->
    <link rel="stylesheet" media="screen" href="../style/bootstrap.min.css">
    <!-- responsive sheets -->
    <link href="../style/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="../style/docs.css" rel="stylesheet">
    
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
    <link type="text/css" rel="stylesheet" href="styles/custom.css">
    
    
          
    <script>
        $(document).ready(function(w){
            
            // toggle handlers for the data titles
            $('dt.doc-header').click(function(){
                //alert("It works");
                $(this).next('dd').toggle(100);
                //$(this).toggle();
            });
        });
    </script>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">MUSIQ Lab</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="#">Home</a></li>
              <li>
                <a href="musiq.html" class="dropdown" data-toggle="dropdown">MUSIQ.js</a>
                <ul class="dropdown-menu">
                    <li><a href="tutorials/">Tutorials</a></li>
                    <li class="active"><a href="docs/index.html">API Documentation</a></li>
                    <li><a href="http://github.com/studioludens/musiqjs/">Github</a></li>
                </ul>
              </li>
              <li><a href="guitar.html">Interactive Guitar</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
        
        <div class="row">
            <div class="span3 bs-docs-sidebar">
                    <?js= this.nav ?>
            </div>
            <div class="span9">
                <div class="page-header">
                    <h1 class="page-title"><?js= title ?></h1>
                </div>
                <?js= content ?>
            </div>
        </div>
        
        <footer>
            Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a> on <?js= (new Date()) ?>
        </footer>
    </div>



<script> prettyPrint(); </script>
<script src="../script/lib/bootstrap/bootstrap.min.js"></script>
</body>
</html>
